# This is a sample file with external locations definition
#
# Note! Never modify this file. This file is inteneded to an example only
# and will be overwritten during version upgrade
# Customer definitions should be included in new files with names matching
# following pattern locations-*.config
#
# Location can be defined using following templates:
# IP address
# Loc_1=10.2.1.0
#
# IP range
# Loc_1=10.2.1.0-10.2.1.255
#
# IP address and mask
# Loc_1=10.1.1.0/24
#
# !!! For single location multiple IP ranges/addresses/masks can be defined !!!
#
# You can add comment to location
# Loc_1.comment=Location sample
#
# Location can be assigned to area
# Loc_1.area = Area_1
# and to region
# Loc_1.region = Region_1
# in this case area assigned to this location is assigned to given region,
# it can be done directly:
# Area_1.region = Region_1
# result will be exactly the same.
#
# Location can be defined as UDL - user defined link. This option is used by CAS only.
# Loc_1.udl=true
# Speed for UDL - user defined link.
# Loc_1.speed_in=100000
# Loc_1.speed_out=100000



